name: ESLint

on: [push, pull_request]

jobs:
    lint:
        runs-on: ubuntu-latest

        strategy:
            matrix:
                node-version: [10.x]

        steps:
            - uses: actions/checkout@v1
              with:
                  fetch-depth: 1

            - name: Use Node.js ${{ matrix.node-version }}
              uses: actions/setup-node@v1
              with:
                  node-version: ${{ matrix.node-version }}

            - name: npm install
              working-directory: .
              run: npm install --ignore-scripts

            - name: Run ESLint
              run: npx eslint . --ext .js,.jsx,.ts.,tsx
